.Loader {
  --background-color: linear-gradient(0deg, #c09eff 0%, #9ed0ff 100%);
  --background-image: url('/images/hero/far.svg') bottom center no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--mono-font);
  font-size: 2rem;
  font-weight: 200;
  color: #876fd6;
  will-change: opacity;
  transition: 0.2s;
  animation: fadeOut 0.5s 3.5s 1 forwards;
}

.Loader::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--background-color);
  animation: fadeOut 0.5s 3s 1 forwards;
}

.Loader svg {
  overflow: visible;
}

.Loader svg circle {
  fill: none;
  stroke: #fff;
  stroke-width: 10px;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  transition: stroke-dashoffset 2.5s;
  animation: shrink 0.5s 2.5s 1 forwards;
}

@keyframes fadeOut {
  from {opacity: 1}
  to {opacity: 0}
}

@keyframes shrink {
  from {opacity: 1; transform: scale(1);}
  to {opacity: 0; transform: scale(0);}
}

@keyframes getSoBig {
  0% {transform: rotate(-90deg) scale(1)}
  30% {transform: rotate(-90deg) scale(0.3)}
  100% {transform: rotate(-90deg) scale(16); stroke-width: 1px}
}